@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* REUSABLE CSS VARIABLES */
:root {
  --text: #0b1402;
  --background: #f8fdf0;
  --primary: #8ee82d;
  --secondary: #82f187;
  --accent: #59ed77;
}
/* GLOBAL STYLES */
section {
  padding: 2rem 0;
}
.section-title {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: var(--text);
  text-align: center;
  margin-bottom: 1rem;
}
.text-primary-color {
  color: var(--primary);
}
.bg-primary-color{
  background-color: var(--primary);
}
.btn-bg-primary-color {
  background-color: var(--primary);
}
.btn-bg-primary-color:hover {
  background-color: var(--accent);
}
.border-primary-color {
  border-bottom: 1px solid var(--primary);
}
/* NAVBAR STYLES */
.navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}
.navbar-brand {
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
}
.nav-link {
  color: var(--text);
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  color: var(--text);
  text-decoration: none;
  position: relative;
  padding-bottom: 4px; /* The distance between text and underline */
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    var(--primary),
    var(--accent)
  ); /* underline color */
  background-size: 0 2px; /* vertical size of underline */
  background-repeat: no-repeat;
  background-position: left bottom; /* start position of underline */
  transition: background-size 0.3s ease-in; /* duration and timing style of animation */
}

.nav-link:hover::before {
  background-size: 50% 2px;
}
/* Navbar background and shadow after scrolling */
.navbar-scrolled {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Active link styling */
.nav-link.active {
  color: #007bff; /* Adjust the color as needed */
  font-weight: bold;
}

/* HERO SECTION STYLES */
.hero-section {
  padding-top: 4rem;
}
.bg-img-rounder {
  position: absolute;
  top: -100px;
  left: -100px;
  height: 300px;
  width: 300px;
}
.hero-right {
  background: url("./assets/images/blob-scene-haikei.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.hero-left {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.hero-data h1 {
  font-size: 56px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.hero-task {
  color: var(--primary);
}
.hero-btn {
  background-color: var(--primary);
  color: #0b1402;
}
.hero-btn:hover {
  background-color: var(--accent);
}

/* WHY CHOOSE US STYLES */
.choose-us-card {
  /* background: url("./assets/images/layered-waves-haikei.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: var(--primary);
  font-size: 18px;
  color: var(--text);
  padding: 10px;
  box-shadow: rgba(27, 241, 7, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.card-title {
  font-size: 34px;
}

/* FEATURES STYLES */
#features{
  position: relative;
}
.feature-bg-text{
  position: absolute;
  top: 400px;
  right: 100px;
  font-size: 70px;
  transform: rotate(45deg);
  font-family: "Permanent Marker", cursive;
  opacity: 0.4;
  z-index: -1;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 0 100px 0 100px;
}
.feature-bg-text-2{
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 70px;
  transform: rotate(45deg);
  font-family: "Permanent Marker", cursive;
  opacity: 0.4;
  z-index: -1;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 0 100px 0 100px;
}
.feature-card {
  border: 1px solid #59ed77;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff88;
}
.feature-icon {
  background-color: var(--primary);
}
.feature-icon:hover {
  background-color: var(--accent);
}


/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .hero-section {
    padding-top: 80px;
  }
  .hero-data h1 {
    font-size: 30px;
  }
  .bg-img-rounder {
    position: absolute;
    top: -150px;
    left: -100px;
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .navbar {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-family: "Permanent Marker", cursive;
  }
  .hero-section {
    padding-top: 100px;
  }
  .bg-img-rounder {
    display: none;
  }
  .feature-card {
    width: 95%;
    margin: 10px auto;
    background-color: hsla(0, 0%, 100%, 0.795);
  }
  .feature-bg-text{
    position: absolute;
    top: 500px;
    left: 100px;
    font-size: 70px;
    transform: rotate(45deg);
    font-family: "Permanent Marker", cursive;
    opacity: 0.4;
    z-index: -1;
  }
  .feature-bg-text-2{
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 70px;
    transform: rotate(45deg);
    font-family: "Permanent Marker", cursive;
    opacity: 0.4;
    z-index: -1;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 0 100px 0 100px;
  }
}
